@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

.slideFromRight {
  animation: slideFromRight 500ms ease-in-out forwards 1s;
  opacity: 0;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-10%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
